<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1>People List</h1>
    <div>
        <label for="filter">Filtrar por nombre o ID:</label>
        <input type="text" id="filter" class="form-control" placeholder="Buscar...">
    </div>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th>Color de ojos</th>
            <th>Género</th>
            <th>Color de pelo</th>
            <th>Altura</th>
            <th>Peliculas</th>
            <th>Naves Estelares</th>
            <th>Vehículos</th>
        </tr>
        </thead>
        <tbody id="peoplesTableBody">
        <tr th:each="people : ${people}">
            <td th:text="${people.id}" class="people-id"></td>
            <td th:text="${people.name}" class="people-name"></td>
            <td th:text="${people.birthYear}"></td>
            <td th:text="${people.eyeColor}"></td>
            <td th:text="${people.gender}"></td>
            <td th:text="${people.hairColor}"></td>
            <td th:text="${people.height}"></td>
            <td>
                <ul>
                    <li th:each="film : ${people.films}">
                        <span th:text="${film.title}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="starship : ${people.starships}">
                        <span th:text="${starship.name}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="vehicle : ${people.vehicles}">
                        <span th:text="${vehicle.name}"></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <ul class="pagination">
            <li th:class="${currentPage == null or currentPage == 0} ? 'disabled' : ''">
                <a th:if="${currentPage != null and currentPage > 0}" th:href="@{'/people?page=' + (currentPage - 1) + '&size=' + size}">Anterior</a>
                <span th:if="${currentPage == null or currentPage == 0}" class="btn btn-secondary">Anterior</span>
            </li>
            <li>
                <span th:text="'Página ' + (${currentPage != null ? currentPage + 1 : 1})"></span>
            </li>
            <li th:class="${currentPage == null or currentPage == totalPages - 1} ? 'disabled' : ''">
                <a th:if="${currentPage != null and currentPage < totalPages - 1}" th:href="@{'/people?page=' + (currentPage + 1) + '&size=' + size}">Siguiente</a>
                <span th:if="${currentPage == null or currentPage == totalPages - 1}" class="btn btn-secondary">Siguiente</span>
            </li>
        </ul>
        <span th:if="${totalPages == 0}" class="btn btn-secondary">No hay datos para mostrar.</span>
        <span th:if="${totalPages > 0}" class="btn btn-secondary">Página <span th:text="${(currentPage != null ? currentPage : 0) + 1}"></span> de <span th:text="${totalPages}"></span></span>
    </div>
</div>

<script>
    $(document).ready(function () {
        function filterTable() {
            const filterValue = $('#filter').val().toLowerCase();
            $('#peoplesTableBody tr').each(function () {
                const id = $(this).find('.people-id').text().toLowerCase();
                const name = $(this).find('.people-name').text().toLowerCase();
                if (id.includes(filterValue) || name.includes(filterValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        $('#filter').on('input', filterTable);
        $('#filter').on('keypress', function(e) {
            if (e.which == 13) {
                filterTable();
            }
        });
    });
</script>
</body>
</html>
